# `ModelQaResult`

QA result for a model.