[submodule "vendor/meta-introspector/bootstrap"]
	path = vendor/meta-introspector/bootstrap
	url = https://github.com/meta-introspector/bootstrap
[submodule "vendor/meta-introspector/solfunmeme"]
	path = vendor/meta-introspector/solfunmeme
	url = https://github.com/meta-introspector/solfunmeme
[submodule "vendor/meta-introspector/solfunmeme-dioxus"]
	path = vendor/meta-introspector/solfunmeme-dioxus
	url = https://github.com/meta-introspector/solfunmeme-dioxus
[submodule "vendor/meta-introspector/ai-agent-terraform"]
	path = vendor/meta-introspector/ai-agent-terraform
	url = https://github.com/jmikedupont2/ai-agent-terraform
[submodule "vendor/meta-introspector/quasi-meta-meme"]
	path = vendor/meta-introspector/quasi-meta-meme
	url = https://github.com/meta-introspector/quasi-meta-meme
[submodule "vendor/meta-introspector/meta-meme"]
	path = vendor/meta-introspector/meta-meme
	url = https://github.com/meta-introspector/meta-meme

[submodule "vendor/meta-introspector/agave-solana-validator"]
	path = vendor/meta-introspector/agave-solana-validator
	url = https://github.com/meta-introspector/agave-solana-validator
[submodule "vendor/rust-analyzer"]
	path = vendor/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer.git
[submodule "vendor/coccinelleforrust"]
	path = vendor/coccinelleforrust
	url = https://gitlab.inria.fr/coccinelle/coccinelleforrust
[submodule "vendor/ast-grep"]
	path = vendor/ast-grep
	url = https://github.com/ast-grep/ast-grep
[submodule "vendor/rust-embed"]
	path = vendor/rust-embed
	url = https://git.sr.ht/~pyrossh/rust-embed

[submodule "vendor/mownstr"]
	path = vendor/mownstr
	url = https://github.com/meta-introspector/mownstr.git
[submodule "vendor/sophia_rs"]
	path = vendor/sophia_rs
	url = https://github.com/meta-introspector/sophia_rs.git
[submodule "vendor/tclifford"]
	path = vendor/tclifford
	url = https://github.com/grumyantsev/tclifford
[submodule "index/solfunmeme-index"]
	path = index/solfunmeme-index
	url = https://huggingface.co/datasets/introspector/solfunmeme-index
