[submodule "vendor/meta-introspector/bootstrap"]
	path = vendor/meta-introspector/bootstrap
	url = https://github.com/meta-introspector/bootstrap
[submodule "vendor/meta-introspector/solfunmeme"]
	path = vendor/meta-introspector/solfunmeme
	url = https://github.com/meta-introspector/solfunmeme
[submodule "vendor/meta-introspector/solfunmeme-dioxus"]
	path = vendor/meta-introspector/solfunmeme-dioxus
	url = https://github.com/meta-introspector/solfunmeme-dioxus
[submodule "vendor/meta-introspector/ai-agent-terraform"]
	path = vendor/meta-introspector/ai-agent-terraform
	url = https://github.com/jmikedupont2/ai-agent-terraform
[submodule "vendor/meta-introspector/quasi-meta-meme"]
	path = vendor/meta-introspector/quasi-meta-meme
	url = https://github.com/meta-introspector/quasi-meta-meme
[submodule "vendor/meta-introspector/meta-meme"]
	path = vendor/meta-introspector/meta-meme
	url = https://github.com/meta-introspector/meta-meme

[submodule "vendor/meta-introspector/agave-solana-validator"]
	path = vendor/meta-introspector/agave-solana-validator
	url = https://github.com/meta-introspector/agave-solana-validator
[submodule "vendor/rust-analyzer"]
	path = vendor/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer.git
[submodule "vendor/coccinelleforrust"]
	path = vendor/coccinelleforrust
	url = https://gitlab.inria.fr/coccinelle/coccinelleforrust
[submodule "vendor/ast-grep"]
	path = vendor/ast-grep
	url = https://github.com/ast-grep/ast-grep
[submodule "vendor/rust-embed"]
	path = vendor/rust-embed
	url = https://git.sr.ht/~pyrossh/rust-embed

[submodule "vendor/mownstr"]
	path = vendor/mownstr
	url = https://github.com/meta-introspector/mownstr.git
[submodule "vendor/sophia_rs"]
	path = vendor/sophia_rs
	url = https://github.com/meta-introspector/sophia_rs.git
[submodule "vendor/tclifford"]
	path = vendor/tclifford
	url = https://github.com/grumyantsev/tclifford
[submodule "index/solfunmeme-index"]
	path = index/solfunmeme-index
	url = https://huggingface.co/datasets/introspector/solfunmeme-index
[submodule "idx"]
	path = idx
	url = https://huggingface.co/datasets/introspector/solfunmeme-index/
[submodule "vendor/meta-introspector/hugging-face-dataset-validator-rust"]
	path = vendor/meta-introspector/hugging-face-dataset-validator-rust
	url = https://github.com/meta-introspector/hugging-face-dataset-validator-rust
[submodule "vendor/solfunmeme-metameme"]
	path = vendor/solfunmeme-metameme
	url = https://github.com/meta-introspector/solfunmeme-metameme
[submodule "vendor/amazon-q-developer-cli"]
	path = vendor/amazon-q-developer-cli
	url = https://github.com/meta-introspector/amazon-q-developer-cli
[submodule "vendor/google-oauth"]
	path = vendor/google-oauth
	url = https://github.com/caojen/google-oauth
[submodule "vendor/llm"]
	path = vendor/llm
	url = https://github.com/graniet/llm
[submodule "vendor/llmclient"]
	path = vendor/llmclient
	url = https://github.com/intelligentnet/llmclient
[submodule "vendor/ask_gemini"]
	path = vendor/ask_gemini
	url = https://github.com/vvmspace/ask_gemini
[submodule "vendor/google-ai-rs"]
	path = vendor/google-ai-rs
	url = https://github.com/veecore/google-ai-rs
[submodule "vendor/askrepo"]
	path = vendor/askrepo
	url = https://github.com/laiso/askrepo
[submodule "vendor/frustum"]
	path = vendor/frustum
	url = https://github.com/eviltak/frustum
[submodule "vendor/em-refactor"]
	path = vendor/em-refactor
	url = https://github.com/peroveri/em-refactor
[submodule "vendor/scientisto"]
	path = vendor/scientisto
	url = https://github.com/Teebor-Choka/scientisto
[submodule "vendor/ploke"]
	path = vendor/ploke
	url = https://github.com/josephleblanc/ploke
[submodule "vendor/comby-rust"]
	path = vendor/comby-rust
	url = https://github.com/huitseeker/comby-rust
[submodule "vendor/rust-refactor"]
	path = vendor/rust-refactor
	url = https://github.com/GSam/rust-refactor
[submodule "vendor/comby"]
	path = vendor/comby
	url = https://github.com/comby-tools/comby
[submodule "vendor/refren"]
	path = vendor/refren
	url = https://github.com/bm371613/refren
[submodule "vendor/spacemod"]
	path = vendor/spacemod
	url = https://github.com/untitaker/spacemod
[submodule "vendor/extricrate"]
	path = vendor/extricrate
	url = https://github.com/nitnelave/extricrate
[submodule "vendor/rem"]
	path = vendor/rem
	url = https://github.com/verse-lab/rem
[submodule "vendor/rust-clippy"]
	path = vendor/rust-clippy
	url = https://github.com/rust-lang/rust-clippy
