[package]
name = "ragit"
version = "0.4.2"
edition = "2024"
license = "MIT"
description = "git-like rag pipeline"
repository = "https://github.com/baehyunsol/ragit"
documentation = "https://docs.rs/ragit"

[[bin]]
name = "rag"
path = "crates/ragit-commands/src/main.rs"

[workspace]
members = [
#    "crates/api",
    "crates/cli",
    "crates/fs",
    "crates/ignore",
    "crates/korean",
    "crates/pdl",
    "crates/server",
    "crates/ragit-utils",
    "crates/ragit-schema",
    "crates/ragit-uid",
    "crates/ragit-commands",
    "crates/ragit-core-utils",
    "crates/ragit-types", "crates/ragit-core", "crates/ragit-index", "crates/ragit-config", "crates/ragit-readers", "crates/ragit-query",
    "crates/ragit-index-types",
    "crates/ragit-prompt-management",
    "crates/ragit-tfidf",
    "crates/ragit-index-model-management",
    "crates/ragit-agent-action", "crates/ragit-index-io",
    "crates/ragit-agent",
    "crates/ragit-index-query",
    "crates/ragit-config-commands",
    # "crates/ragit-command-meta", # Disabled for now
    # Legacy crates, excluded from build:
#    "crates/ragit-legacy-agent",
#    "crates/ragit-legacy-api-config",
#    "crates/ragit-legacy-chunk",
#    "crates/ragit-legacy-error",
#    "crates/ragit-legacy-log-qa-results",
#    "crates/ragit-legacy-uid",
    # "crates/ragit-command-status", # Disabled for now
    # "crates/ragit-command-remove", # Disabled for now
    # "crates/ragit-command-migrate", # Disabled for now
    # "crates/ragit-command-summary", # Disabled for now
    # "crates/ragit-command-query", # Disabled for now
    # "crates/ragit-command-help", # Disabled for now
    "crates/ragit-command-add",
    # "crates/ragit-command-archive", # Disabled for now
    # "crates/ragit-command-audit", # Disabled for now
    # "crates/ragit-command-qa-test", # Disabled for now

    "crates/ragit-command-build",
    # "crates/ragit-command-cat-file", # Disabled for now
    # "crates/ragit-command-check", # Disabled for now
    # "crates/ragit-command-clone", # Disabled for now
    # "crates/ragit-command-config", # Disabled for now
    # "crates/ragit-command-extract-keywords", # Disabled for now
    # "crates/ragit-command-gc", # Disabled for now
    # "crates/ragit-command-ii-build", # Disabled for now
    # "crates/ragit-command-ii-reset", # Disabled for now
    # "crates/ragit-command-ii-status", # Disabled for now
    # "crates/ragit-command-init", # Disabled for now
    # "crates/ragit-command-ls", # Disabled for now
    # "crates/ragit-command-merge", # Disabled for now
    # "crates/ragit-command-model", # Disabled for now
    # "crates/ragit-command-muse-summarize", # Disabled for now
    # "crates/ragit-command-pdl", # Disabled for now
    # "crates/ragit-command-pull", # Disabled for now
    # "crates/ragit-command-push", # Disabled for now
    # "crates/ragit-command-qa-test", # Disabled for now
    # "crates/ragit-command-version", # Disabled for now
    "crates/ragit-index-core",
]
exclude = [
    "crates/ragit-legacy-agent",
    "crates/ragit-legacy-api-config",
    "crates/ragit-legacy-chunk",
    "crates/ragit-legacy-error",
    "crates/ragit-legacy-log-qa-results",
    "crates/ragit-legacy-uid",
    "crates/ragit-qa-system",
    "crates/ragit-model-query-response",
     "crates/ragit-command-cat-file", # Disabled for now
     "crates/ragit-command-check", # Disabled for now
     "crates/ragit-command-clone", # Disabled for now
     "crates/ragit-command-config", # Disabled for now
     "crates/ragit-command-extract-keywords", # Disabled for now
     "crates/ragit-command-gc", # Disabled for now
     "crates/ragit-command-ii-build", # Disabled for now
     "crates/ragit-command-ii-reset", # Disabled for now
     "crates/ragit-command-ii-status", # Disabled for now
     "crates/ragit-command-init", # Disabled for now
     "crates/ragit-command-ls", # Disabled for now
     "crates/ragit-command-merge", # Disabled for now
     "crates/ragit-command-model", # Disabled for now
     "crates/ragit-command-muse-summarize", # Disabled for now
     "crates/ragit-command-pdl", # Disabled for now
     "crates/ragit-command-pull", # Disabled for now
     "crates/ragit-command-push", # Disabled for now
     "crates/ragit-command-qa-test", # Disabled for now
     "crates/ragit-command-qa-tune", # Disabled for now
     "crates/ragit-command-version", # Disabled for now

]

[dependencies]
async-recursion = "1.1.1"
chrono = "0.4.40"
csv = { version = "1.3.1", optional = true }
flate2 = "1.1.0"
image = { version = "0.25.5", default-features = false, features = ["rayon", "bmp", "dds", "exr", "ff", "gif", "hdr", "ico", "jpeg", "png", "pnm", "qoi", "tga", "tiff", "webp"] }
lazy_static = "1.5.0"
mupdf = { version = "0.5.0", optional = true }
png = { version = "0.17.16", optional = true }  # `resvg`'s function returns `png::EncodingError`

ragit-cli = { path = "./crates/cli", version = "0.4.2" }
ragit-fs = { path = "./crates/fs", version = "0.4.2", features = ["diff"] }
ragit-ignore = { path = "./crates/ignore", version = "0.4.2" }
ragit-korean = { path = "./crates/korean", version = "0.4.2", optional = true }
ragit-pdl = { path = "./crates/pdl", version = "0.4.2" }
ragit-uid = { path = "./crates/ragit-uid", version = "0.1.0" }
ragit-utils = { path = "./crates/ragit-utils", version = "0.1.0" }
ragit-schema = { path = "./crates/ragit-schema", version = "0.1.0" }
ragit-commands = { path = "./crates/ragit-commands", version = "0.1.0" }
ragit-agent = { path = "./crates/ragit-agent" }
ragit-types = { path = "./crates/ragit-types" }
ragit-index-query = { path = "./crates/ragit-index-query" }
ragit-index = { path = "./crates/ragit-index" }
ragit-index-types = { path = "./crates/ragit-index-types" }
ragit-tfidf = { path = "./crates/ragit-tfidf" }
ragit-index-io = { path = "./crates/ragit-index-io" }
ragit-model-query-response = { path = "./crates/ragit-model-query-response" }
regex = "1.11.1"
reqwest = { version = "0.12.12", features = ["multipart"] }
resvg = { version = "0.45.1", optional = true }
rust-stemmers = "1.2.0"
serde = { version = "1.0.218", features = ["derive"] }
serde_json = { version = "1.0.139", features = ["arbitrary_precision"] }
sha3 = "0.10.8"
strum = { version = "0.26", features = ["derive"] }
tera = "1.20.0"
thiserror = "1.0"
anyhow = "1.0"
tokio = { version = "1.43.0", features = ["full"] }
url = "2.5.4"
zstd = "0.13.3"

[features]
# `csv` is small enough and is purely in Rust.
default = ["csv"]
full = ["csv", "korean"]

csv = ["dep:csv"]
korean = ["dep:ragit-korean"]
pdf = ["dep:mupdf"]
svg = ["dep:resvg", "dep:png"]

# This feature only affects `rag version --build-options`.
# Please make sure to enable this when you build ragit with "production" profile.
production = []

[profile.production]
inherits = "release"
codegen-units = 1
lto = "fat"

# mupdf does not compile without this patch on MacOS
[patch.crates-io]
pathfinder_simd = { git = "https://github.com/servo/pathfinder.git" }
